node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
build
**/build
public
**/public
coverage
**/coverage
.expo
**/.expo
*.log
apps/mobile-app/**
apps/scanner-app/**
apps/mobile-app-backup/**
