<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281421756463-0dganqqnatehgidijr5n40cmdgmg3699.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281421756463-0dganqqnatehgidijr5n40cmdgmg3699</string>
	<key>API_KEY</key>
	<string>AIzaSyBlO2Ss8KVO3i6Yj8msSms7ux7UteeVeLA</string>
	<key>GCM_SENDER_ID</key>
	<string>281421756463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c1rcle.app</string>
	<key>PROJECT_ID</key>
	<string>c1rcle-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>c1rcle-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281421756463:ios:9c597d631cf33e0f5ceeda</string>
</dict>
</plist>