PORT=4000
NODE_ENV=development
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
REDIS_URL=redis://localhost:6379
SENTRY_DSN=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
QR_SECRET_KEY=c1rcle-qr-secret-2024
FRONTEND_URLS=http://localhost:3000,http://localhost:3001,http://localhost:3002
